<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand Logo" href="#"><img src="../assets/logo.png"></a>
    </div>
    <div class="collapse navbar-collapse " id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#"><strong>Product</strong></a></li>
        <li><a href="#"><strong>Solutions</strong></a></li>
        <li><a href="#"><strong>Pricing</strong></a></li>
        <li><a id="login" href="#" class="login">Login</a></li>
        <li><a href="#"  class="getStart"> Get Started</a></li>
      </ul>
    
    </div>
  </div>
</nav>
<div >
<div class="container-fluid">

  <div>
    <img class="quote" src="../assets/We make it Super Sim.png" alt="">
  </div>
<div>
  <img class="img-vdo"  src="../assets/collect_img-video.png">
</div>
<div>
  <img class="group-6" src="../assets/Group 6.png">
</div>
</div>
<br>
<br>
<br>

<div class="container-fluid col-ms imglogo">
  <img src="../assets/blob-small.png" alt="">
</div>
<div class="row">
<div class="column">
<div class="img1">
  <img src="../assets/Rectangle Copy 23.png" alt="">
  <img class="subClass1" src="../assets/Get Paid Instantly.png">
  <img class="subClass2" src="../assets/Quick cash disbursem.png">
  <img class="subClass3" src="../assets/Get terms loans that.png">
</div>
<div class="img2">
  <img src="../assets/Rectangle Copy 23.png" alt="">
  <img class="subClass4" src="../assets/Low interest rate.png">
  <img class="subClass5" src="../assets/Low-interest rate.png">
  <img class="subClass6" src="../assets/Achieve your financi.png">
</div>
</div>
<div class="row">
<div class="img3">
  <img src="../assets/Rectangle 2.png" alt="">
  <img class="subClass7" src="../assets/freelancer_feature_icon_6@1.5x.png">
  <img class="subClass8" src="../assets/Ace your business fi.png">
  <img class="subClass9" src="../assets/Manage banking, acco.png">
</div>
<div class="img4">
  <img src="../assets/Rectangle Copy 23.png" alt="">
  <img class="subClass10" src="../assets/Covid.png">
  <img class="subClass11" src="../assets/Loans to fight COVID.png">
  <img class="subClass12" src="../assets/Zero EMI for first 3.png">
</div>
</div>

<div>
  <img class="subClass13" src="../assets/Boost your business.png">
  <img class="subClass14" src="../assets/Get your hands on a.png">
  <a href="#" class="btn1">Get an Open Account</a>
</div>
</div>
</div>
</body>
</html>
